.banner {
  max-width: $banner-footer-width;
  height: $banner-height;
  background-image: linear-gradient(
      rgba($site-black, 0.5),
      rgba($site-black, 0.5)
    ),
    url(../images/heros.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  //   texts in banner
  p {
    font-size: 60px;
    margin-top: -69.5px;
    margin-bottom: 27px;
    text-align: center;
    position: absolute;
    font-family: ProximaNova;
    color: $site-white;
  }

  .bot-ban {
    font-size: 20px;
    margin-top: 75px;
    text-align: center;
    position: absolute;
    font-style: italic;
    font-family: GillSans;
    color: $site-white;
  }

  //   button for banner
  .submitted {
    width: 121.62px;
    height: 40.04px;
    border: none;
    margin-top: 170px;
    font-size: 15px;
    font-family: GillSans;
    color: $site-white;
    background: $site-blue;
  }
}
